<!DOCTYPE html>

<html lang="en">

<head>
    <title>
        render hosting experiment
    </title>

</head>

<body>
    <h1> hello. this pages renders from a template</h1>


    <form action="/login" method="post">
        
        <p>What's your name and age. I'll insert it into a database</p>
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="name type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="age" name="age" placeholder="age" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>




</body>







</html>