<!DOCTYPE html>

<html lang="en">

<head>
    <title>
        render hosting experiment
    </title>

</head>

<body>
    <h1> hello.</h1>

    <p>this page attempts to extract information from the user and then: </p>
    <ol>
        <li>tries to insert it into a locally stored sql database, where visual studio code is running locally, but the code is pushed to git hub</li>
        <li>tries to insert it into a sql database hosted on supabase, and where the code is hosted by render</li>
    </ol>


    <form action="/details" method="post">
        
        <p>What's your name and age. I'll insert it into a database</p>
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="name" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="age" name="age" placeholder="age" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>




</body>







</html>