<!DOCTYPE html>

<html lang="en">

<head>
    <title>
        render hosting experiment
    </title>

</head>

<body>
    <h1> hello.</h1>

    <p>this page attempts to extract information from the user and then: </p>
    <ol>
        <li>tries to insert it into a locally stored sql database, where visual studio code is running locally, but the code is pushed to git hub</li>
        <li>tries to insert it into a sql database hosted on supabase, and where the code is hosted by render</li>
    </ol>


    <form action="/details" method="post">
        
        <p>What's your name and age. I'll insert it into a database</p>
        <div>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="name" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="age" name="age" placeholder="age" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

<h2>List of Steps</h2>

<ol>
<li>create repository locally using visual studio code</li>
<li>push to github</li>
<li>create flask app within code, requiring a 'venv' virtual environment to run it</li>
<li>create sql database (hosted on supabase) which you can then access via visual code studio? (Previously, under cs50, the sql database was running via the cloudbased codespace)</li>
<li>apparently I need to install pyscopg2 in order for the app to speak to the postgres sql database hosted by supabase. full instructions are here: https://pypi.org/project/psycopg2/#description</li>
<li>provision gunicorn to serve the app.  Render already kind of sets it up in it's default settings for Flask apps. Flask instructions are here: https://flask.palletsprojects.com/en/2.2.x/deploying/gunicorn/</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>

</ol>


</body>







</html>